<%- include('partials/header', { title: title }) %>

<div class="container">
    <div class="content">
        <h1><%= title %></h1>
        <p><%= message %></p>
    </div>
</div>

<%- include('partials/footer') %>

